langchain
langchain-community
langchain-text-splitters
pypdf
requests
chromadb
python-dotenv
unstructured[local-inference,pdf,docx,xlsx,pptx,markdown]
fastapi[all]
uvicorn[standard]
python-multipart
pika
PyPDF2
python-dotenv 
datasets
sentence_transformers
tiktoken
